@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}



body {
  background: url(./image/abstract.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
   
  }

  #intro h1{
    margin-top: 80px;
    margin-bottom: 30px;
  }
  
  h2 {
   
    font-size: 100px;
     color: 	#ffffff ;
  font-family: 'Black Ops One', cursive;
  text-decoration: underline #ae0001;

  }
/*
  @keyframes h2 {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  

  .moving {
    animation: h2 3s linear forwards infinite;
    color: 	#ffffff ;
    font-family: 'Black Ops One', cursive;
    text-decoration: underline #ae0001;
  }

  */

  @keyframes moving {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .moving {
    animation: moving 10s linear forwards infinite;
    color: #ffffff;
    font-family: 'Black Ops One', cursive;
    text-decoration: underline #ae0001;
    display: inline-block;
  }

  span{
    color: #f0f0f0;
    margin-bottom: 1px;
  }
nav a{
  color: #f0f0f0;
    
}

#intro{
  display:block;
  
}

#intro h1{
  font-family: 'Black Ops One', cursive;
  color: 	#ffffff  ;
  font-size: 100px;
 
  
   
 
}
  #intro p{
    
    padding: 5px;
    font-size: 25px;
    margin-top: 50px;
 
    color: #f0f0f0;
   
  }
 
 
  

#sideimage img{
  height: 600px;
  width: 500px;
  margin-top: 80px;
  margin-right: 50px;
}


#bgproj{
   background-image: url('./image/High_resolution_wallpaper_background_ID_77700321993.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.proj{
  color: #ae0001;
}

@media only screen and (max-width: 767px) {
  #intro {
    order: 1;
    
  }
  #sideimage {
    order: 2;
    text-align: center;
  }

  
  
}

.projtitle{
  color: #f0f0f0;
  font-family: 'Black Ops One', cursive;
  
}

#contbg{
  background: url(./image/sniper-artwork-dark-red-4k_1540754262.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}